
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Location</title>
</head>
<body>

<form action="updateLoc" method="post">
<pre>
Id:<input type="text" name="id" th:value=${location.id} readonly id=""/>
Code:<input type="text" name="code" th:value=${location.code} id=""/>
Name:<input type="text" name="name"  th:value=${location.name}  id=""/>
Type:Urban<input type="checkbox" name="type" id="" value="Urban" th:field="*{location.type}"}/>
     Rural<input type="checkbox" name="type" id="" value="Rural" th:field="*{location.type}"}/>
<input type="submit" value="save"/>
</pre> 
</form>


</body>
</html>